{% extends 'main/base.html' %}
{% block title %}{{ title_template }} {{ category_name }} - Borntoday.ru{% endblock %}

{% block content %}
<h4 class="mb-3">{{ title_template }}: {{ category_name }}</h4>
{% if stars %}
  {% for star in stars %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <a href="{% url 'star_detail' star.slug %}">{{ star.name }}</a> ({{ star.get_age }} лет)
        </h5>
        <p class="card-text">
          <strong>Дата рождения:</strong> {{ star.birth_date|date:"d E Y" }}<br>
          <strong>Страна:</strong> {{ star.country.name }}<br>
          <em>{{ star.content }}</em>
        </p>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>Нет знаменитостей в этой категории.</p>
{% endif %}
{% endblock %}